<a href="https://colab.research.google.com/github/blacurly/blacurly/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecocystem

###In this notebook, Data Science Tools and Ecosystem are summarized.

##Author
Fara Olivia

**Objectives:**

*   Lists of popular languages for a Data Scientist
*   Lists of popular libraries for a Data Science Project
*   Common used Tools for a Data Scientist
*   Basic Arithmetic expression in Jupyter notebook

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL
4.   Julia
5.   Java
6.   C/C++
7.   JavaScript

Some of the commonly used libraries used by Data Scientist include:

1. TensorFlow -> useful for Time-series analysis, Speech and image recognation, Video detection
2. SciPy -> Contains feature that has high-level commands for data manipulation
3. NumPy 
4. Pandas -> Generally used for cleaning and wrangling data
5. Scikit-learn -> Machine Learning process

| Data Science Tools
---
Tableau | 
IBM Watson Studio |
IBM Cloud |
RStudio |
Jupyter Notebook |
Python |
Apache Superset |
Apache Spark |

Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

*this is the end of exercise*